.mainContents{
  padding-top:40px;
}

.article{
  width:85%;
  padding-top:50px;
}

.article p{
  width:90%;
  padding: 0 5% 1em 5%;
  color:#aaa;
  border-bottom:1px solid #666;
}

.article a{
  color: #a5a5e4;
}

.article img{
  width: 90%;
  max-width: 480px;
  padding: 5%;
}

.title{
  width:100%;
  height:2.5em;
  border-bottom:1px solid #666;
  position:relative;
}

.title h1{
  position:absolute;
  left:0px;
  top:0px;
  margin:0;
  padding-left:5%;
  font-size:1.5em;
  color:#aaa;
}

.date {
  width: 100%;
  padding-bottom: 1em;
}
.date h2{
  margin:0;
  padding:0;
  font-size:1em;
  color:rgba(176,176,176, 0.4);
  float: right;
}

/*adjust the position of anchors*/
#cv{
  padding-top: 50px;
  margin-top:-50px;
}

#renew{
  padding-top:50px;
  margin-top:-50px;
}

#ntfs{
  padding-top:50px;
  margin-top:-50px;
}

#slack_physics{
  padding-top:50px;
  margin-top:-50px;
}

#cv_update{
  padding-top:50px;
  margin-top:-50px;
}


