html, body{
  width:100%;
  height:100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top:0;
  left:0;
  background:#000;
}

body #wrapper{
  width: 100%;
  min-height:100%;
  height:auto;
  overflow: hidden;
  position: fixed;
  z-index: 0;
}



.container {
  position: relative;
  width:100%;
  min-height:100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  z-index:1;
  float: left;
}

.container h1{
  color: #fff;
}

.container h2{
  color: #aaa;
}

div#about img{
  margin-top:5%;
  max-width:60%;
  height:auto;
}

.container span.profile{
  color: #999;
}

.mainContents{
  width:100%;
  min-height:100%;
  height:auto;
}

div.mainContents h1{
  padding-top: 5%;
}

div#works .contents{
  float: left;
  margin-top: 0px;
  margin-left:40px;
  margin-right:40px;
}

div#works .column2{
  width:660px;
  margin-right:auto;
  margin-left:auto;
}

div#works h2{
  margin-top:100px;
}

div#works .contents h3{
  margin:0;
  padding:0;
  color: #aaa;
}

div#works .contents a{
  text-decoration:none;
  color: #aaa;
}

div#works span.caption{
  color:#666;
  font-size:11pt;
}

div#more h1{
  color: #444;
  padding-top: 20%;
}

div.snslinks{
  position:fixed;
  top:25%;
  left:2%;
  z-index:2;
}

div.snslinks img{
  max-width:90%;
  height:auto;
}

div#menu{
  filter:alpha(opacity=50);
  -moz-opacity: 0.8;
  opacity: 0.8;
  position:fixed;
  top:25%;
  right:0;
  z-index:3;
  float:right;
}

div#menu li{
  list-style:none;
}

div#menu li{
  margin:0;
  padding:20px;
  background:#446;
  border: 1px solid #666;
  border-right:none;
  transition: background-color 0.3s linear 0;
}

div#menu li.on{
  background-color:#333;
}

div#menu a{
  color:#aaa;
  text-decoration:none;
}

div#footer {
  width:100%;
  background: #000;
  filter:alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
  text-align:center;
  z-index:2;
}

div#footer p{
  color: #ff0;
}

div.cssclear{
  clear:both;
}
