@font-face {
  font-family: Satellite;  
  src: url(font/Satellite.otf);  
}

html,body{
  background:#1D1D1D;
  margin: 0;
  padding: 0;
  font-size: 15px;
  color:#fff;
  font-family: Satellite; 
  line-height: 1.62;
}

.header{
  z-index:1;
  width: 100%; 
  height: 50px;
  position: fixed;
  top:0;
  background: rgb(20, 20, 20);
}

.logo{
  position:fixed;
  top:0;
  margin:0;
  padding-left:40px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0;
}

.menu ul{
  margin:0;
  padding:0;
  list-style:none;
}

.menu li{
  display:inline;
  margin:0;
  padding: 15px 20px;
  float:right;
  display: inline-block;
  font-weight: bold;
  color: rgb(169,169,169);
  letter-spacing: 0;
  border:none;
  border-radius: 0px;
  text-decoration: none;

  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.menu li.last{
  padding-right:40px;
}

.menu li:hover{
  color:rgb(105,105,105);
}

.background{
  position:fixed;
  width:100%;
}

.mainContents{
  padding-top:90px;
  padding-left:40px;
  z-index:0;
}

.footer{
  z-index:1;
  margin:0;
  padding:0;
  width:100%;
  height:80px;
  position:relative;
  color: #ffffff;
  letter-spacing: 0;
  background: rgb(20,20,20);
}

.copyright{
  position:absolute;
  height:20px;
  top:30px;
  left:40px;
}

.sns ul{
 margin:0;
 padding:0;
 list-style:none;
}

.sns li{
 display:inline;
 height:20px;
 padding:30px 20px;
 float:right;
}

.sns li.last{
 padding-right:40px;
}

.sns a{
  -webkit-transition: opacity 0.6s ease;
  -moz-transition: opacity 0.6s ease;
  -ms-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}

.sns a:hover{
  opacity: .6;
  -webkit-opacity: .6;
  -moz-opacity: .6;
  filter: alpha(opacity=60);  /* IE lt 6 */
  -ms-filter: "alpha(opacity=60)"; /* IE 6 */
}

.cssclear{
  clear:both;
}

