html,body{
  margin: 0;
  padding: 0;
  font-size: 15px;
  color:#000;
  font-family: "arial",Helvetica,sans-serif;
  line-height: 1.62;
}

.header{
  width: 100%; 
  height: 50px;
  position: fixed;
  top:0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #e9e9e9), color-stop(0.00, #ababab));
  background: -webkit-linear-gradient(#ababab, #e9e9e9);
  background: -moz-linear-gradient(#ababab, #e9e9e9);
  background: -o-linear-gradient(#ababab, #e9e9e9);
  background: -ms-linear-gradient(#ababab, #e9e9e9);
  background: linear-gradient(#ababab, #e9e9e9);
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.9);
}

.logo{
  position:fixed;
  top:0;
  margin:0;
  padding-left:40px;
  font-weight: bold;
  color: #000;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.5);
  letter-spacing: 0;
}

.menu ul{
  margin:0;
  padding:0;
  list-style:none;
}

.menu li{
  display:inline;
  margin:0;
  padding: 15px 20px;
  float:right;
  display: inline-block;
  font-weight: bold;
  color: #000;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.5);
  letter-spacing: 0;
  border: none;
  border-radius: 0px;
  text-decoration: none;
}

.menu li.last{
  margin-right:40px;
}

.background{
  z-index:-1;
  padding-top:50px;
  position:fixed;
}

.mainContents{
  padding-top:90px;
  padding-left:40px;
  z-index:0;
}

.footer{
  z-index:1;
  margin:0;
  padding:0;
  width:100%;
  height:80px;
  position:relative;
  color: #ffffff;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.5);
  letter-spacing: 0;
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.9), inset 0 1px 0 rgba(255, 255, 255, 0.4);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #666), color-stop(1.00, #111));
  background: -webkit-linear-gradient(#666, #111);
  background: -moz-linear-gradient(#666, #111);
  background: -o-linear-gradient(#666, #111);
  background: -ms-linear-gradient(#666, #111);
  background: linear-gradient(#666, #111);
}

.copyright{
  position:absolute;
  height:20px;
  top:30px;
  left:40px;
}

.sns ul{
 margin:0;
 padding:0;
 list-style:none;
}

.sns li{
 display:inline;
 height:20px;
 padding:30px 20px;
 float:right;
}

.sns li.last{
 padding-right:40px;
}

.cssclear{
  clear:both;
}

