.bxslider{
  margin:0;
  padding:0;
}

.bx-pager{
  display:none !important;
}

.news{
  height:140px;
  position:fixed;
  top:50%;
  margin-top:-100px;
}

.news ul{
  width: 350px;
  margin:0;
  padding:0;
  list-style:none;
  display:table-cell;
  vertical-align:middle;
  overflow:hidden;
}

.news li{
  padding:5px 10px;
  margin-right:20px;
  float:left;
  clear:both;
  transition: margin-left 0.6s ease;
}

.news li:hover{
  cursor:pointer;
  margin-left:15px;
}

.news a{
  color:#000;
  text-decoration:none;
}

.news a:hover{
  color:#666;
}

.footer{
  position:fixed;
  bottom:0;
}
