html, body{
	background: #000;
}


div#wrapper{
	background: #000;
	color: #FFF;
	margin: 0 auto;
	text-align: left;
	width: 100%;
	height: 100%;
	line-height: 1.8;
}

div#wrapBg{
	margin-top: 83px;
}

div#header{
	background: #000;
	width: 100%;
	min-height: 83px;
	height: 83px;
	text-align: left;
	position: fixed !important;
	top: 0;
	border-bottom: 2px solid #dedede;
	filter: alpha(opacity=85);
	-moz-opacity:0.85;
	opacity: 0.85;
	z-index: 2;
}

div#header h1{
	font-weight: bold;
	float: left;
	width: 300px;
	padding: 26px 0 0 23px;
	position: fixed !important;
	left: 50%;
	margin-left: -480px;
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
	color: #adcdff;
	text-shadow:0px -1px 1px #777;
}

div#welcome{
	float: left;
	position:fixed !important;
	left: 50%;
	margin-left: -180px;
	padding-top: 5px;
}

div#header ul#gNavi{
	float: right;
	position:fixed !important;
	right: 50%;
	margin-right: -480px;
	margin-bottom: 0;
	padding-bottom: 0;
}

ul#gNavi li{
	display: block;
	float: right;
	border-left: 1px solid #dedede;
	border-top: 1px solid #dedede;
}

ul#gNavi li.firstItem{
	border-right: 1px solid #dedede;
  background-color: #000044;
}

ul#gNavi li.firstItemJ{
	border-right: 1px solid #dedede;
  background-color: #440000;
}

ul#gNavi li img{
	vertical-align: bottom;
}

ul#gNavi li.lastItem{
	margin-left: 0;
}

div#header ul#gNavi li a{
	font-size: 13px;
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
	display: block;
	padding: 30px 13px;
}

div#header ul#gNavi li a:hover{
	background: #555;
}

div#header ul#gNavi li.firstItem a:hover{
	background: #202064;
}

div#header ul#gNavi li.firstItemJ a:hover{
	background: #642020;
}

div#footer{
	border-top: 2px #dedede solid;
	margin-top: 45px;
	text-align: center;
	position: fixed !important;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 40px;
	width: 100%;
	filter: alpha(opacity=85%);
	-moz-opacity: 0.85;
	opacity: 0.85;
	z-index: 1;
}

div#footer p#copyright{
	background: #000;
	text-align: center;
	padding: 10px;
	color: #FF0;
	font-family:"lucida grande", tahoma, verdana, arial, sans-serif!important;
}

div.graffiti_img img{
	margin-bottom:15px;
}

div.graffiti_img span.caption{
	color:#666;
}

div.graffiti_img span.date-ID{
	margin-top:30px;
	color:#333;
	float:right;
}
